*,
*::before,
*::after {
    box-sizing: border-box;
}


/* need to be updated a lil */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Souce Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #6EEAFA;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgb(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    --bubble-shadow: #83af9b;
    --bubble-fill: #c8c8a9;
}

@media (min-width: 80px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* Main */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    display: grid;
    place-items: left;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

body p {
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
    mix-blend-mode: multiply;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    color: #303030;
    padding: 50px;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px --clr-accent;
    font-family: var(--fs-h3);
}

body p :after {
    transform: translatey(0px);
    animation: float2 4s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    -webkit-text-stroke: 0.5px --bubble-shadow;
    border: 1px solid --bubble-shadow;
    text-shadow: 22px 22px var(--clr-accent);
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px --clr-accent;
    z-index: -2;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro,
.intro_bubble {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    align-items: center;
}

.section__subtitle--intro,
.intro_bubble {
    background: var(--clr-accent);
    padding: .5em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    margin-top: 1em;
}


/* About Me */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: .5em;
    }
}


/* Navigation Menu */

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav__list li {
    display: inline;
}

.nav__list a {
    display: inline-block;
    padding: 0;
}