.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(black, .7);
    border-left: 2px solid blue;
}

.timeline-item p {
    font-size: 1rem;
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .785rem;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid blue;
    background: white;
}

.timeline-item:last-child {
    border-image: linear-gradient( to bottom, blue 60%, blue) 1 100%;
}